.form-wrapper {
  width: 300px;
  height: 360px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  background-color: #101a21;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

  .form {
    .inputs {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 30px;
    }

    .submit {
      width: 200px;
      display: block;
      margin: 0 auto;
      cursor: pointer;
      border-radius: 5px;
      height: 35px;
      background-color: #1e944e;
      color: #fff;
      font: var(--font-m);

      &:disabled {
        opacity: 0.7;
      }
    }
  }
}

.error {
  color: red;
  position: absolute;
  top: 150px;
}
