:root {
  // text color
  --primary: #d1d7db;

  // background
  --background-dark: #101a20;

  // header chats list, header and footer current chat
  --light-black: #202c33;

  // incoming message
  --incoming-message-background: #202c33;
  // outgoing message
  --outgoing-message-background: #005c4b;
  // color text of message
  --message-primary: #e9edef;

  // background color for input message
  --input-message-background: #2a3942;

  --icon: #8696a0;

  //--compose-input-background: #2a3942;
  //--compose-input-background-rgb: 42, 57, 66;
  //--compose-input-background-focused: #335667;
  //--compose-input-background-focused-rgb: 51, 86, 103;
  //--compose-input-border: #2a3942;
}
