:root {
  // text color
  --primary: #d1d7db;

  // background
  --background-dark: #101a20;

  // header chats list, header and footer current chat
  --panel-background: #202c33;

  // incoming message
  --incoming-message-background: #202c33;
  // outgoing message
  --outgoing-message-background: #005c4b;
  // color text of message
  --message-primary: #e9edef;

  // background color for input message
  --input-message-background: #2a3942;
}
